**Requirements**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

**Import data**

In [ ]:
centres = pd.read_csv('Centres_docents.csv', low_memory=False)
alumnes = pd.read_csv('Alumnes_matriculats.csv', low_memory=False)
centres_coords = pd.read_excel('centres_coords.xlsx')

**Data for Interactive Map**

In [ ]:
out = centres_coords.iloc[:,[0,1,3,5,26,27,28,29,30,31,32,24,25]]
out = out.astype({'Codi_centre':'str'})
out = out.apply(lambda x: x.str.replace(',','.'))
out = out.astype({'Coordenades_GEO_X':'float','Coordenades_GEO_Y':'float'})
out = out.rename(columns={'Denominació_completa': 'Nom', 
                          'Nom_naturalesa': 'Naturalesa',
                         'Nom_titularitat':'Titularitat',
                         'E-mail_centre': 'E-mail',
                         'Coordenades_GEO_X':'Longitud',
                         'Coordenades_GEO_Y':'Latitud'})
out = out.loc[out['Estudis'].str.contains("ESO|BATX|EINF2C|EPRI|EINF1C", case=False)]

out.fillna('No', inplace=True)
for i in ['ESO','BATX','EINF2C','EPRI','EINF1C']:
    out[i] = out[i].replace([i], 'Sí')

out = out.rename(columns={'EINF1C':'Infantil 1',
                         'EINF2C':'Infantil 2',
                         'EPRI':'Primària',
                         'BATX':'Batxillerat'})
out

Generate csv file 'out'

In [103]:
out.to_csv('out.csv', index=False)

**Data for Proportional Chart**

In [48]:
out2 = alumnes[alumnes['Any']==2022].iloc[:,[5,11,-7,-6,-5]]
out2 = out2.groupby(by=['Nom comarca','Nom naturalesa']).sum()
out2["Matrícules. Dones %"] = out2['Matrícules. Dones'] *100/ out2['Matrícules. Total']
out2["Matrícules. Homes %"] = out2['Matrícules. Homes'] *100/ out2['Matrícules. Total']
out2 = out2.iloc[:,1:]
out2

                                Matrícules. Dones  Matrícules. Homes  \
Nom comarca     Nom naturalesa
Alt Camp        Privat                        815                734
                Públic                       2492               2607
Alt Empordà     Privat                       1292               1368
                Públic                       9135               9306
Alt Penedès     Privat                       2082               2067
...                                           ...                ...
Val d'Aran      Públic                        612                603
Vallès Occident Privat                      24565              26169
                Públic                      47732              49310
Vallès Oriental Privat                       6510               6750
                Públic                      24086              25317

                                Matrícules. Dones %  Matrícules. Homes %
Nom comarca     Nom naturalesa
Alt Camp        Privat                    52.614590            47.385410
                Públic                    48.872328            51.127672
Alt Empordà     Privat                    48.571429            51.428571
                Públic                    49.536359            50.463641
Alt Penedès     Privat                    50.180766            49.819234
...                                             ...                  ...
Val d'Aran      Públic                    50.370370            49.629630
Vallès Occident Privat                    48.417297            51.578761
                Públic                    49.185429            50.811479
Vallès Oriental Privat                    49.095023            50.904977
                Públic                    48.754124            51.245876

[79 rows x 4 columns]

Generate csv file 'out2'

In [37]:
out2.to_csv('out2.csv', index=True)

**Data for Donut Chart**

In [50]:
out3 = centres.iloc[:,[7,15]]
out3['count'] = [1]* len(out3)
out3 = out3.groupby(by=['Nom comarca','Nom titularitat']).sum()
out3

C:\Users\Robert\AppData\Local\Temp\ipykernel_11200\107619191.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out3['count'] = [1]* len(out3)

                                                 count
Nom comarca     Nom titularitat
Alt Camp        Cooperatives                         3
                Corporacions Locals                 58
                Departament d'Educació              93
                Fundacions                           6
                Ordes i Congregacions Catòlics       3
...                                                ...
Vallès Oriental Ordes i Congregacions Catòlics      12
                Persones Físiques                   50
                Persones Jurídiques Estrangeres      1
                Societats Civils                    14
                Societats Mercantils                83

[338 rows x 1 columns]

Generate csv file 'out3'

In [47]:
out3.to_csv('out3.csv', index=True)